extends ../layout

block content
    a(href = '/bicicletas') Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br
    
    form(action = '/bicicletas/create' method = 'post')
        label(for='id') ID:
        Input#color(type='text' name='id')
        br
        label(for='id') COLOR:
        Input#color(type='text' name='color')
        br
        label(for='id') Modelo:
        Input#color(type='text' name='modelo')
        br
        label(for='id') Latitud:
        Input#color(type='text' name='latitud')
        br
        label(for='id') Longitud:
        Input#color(type='text' name='longitud')
        br
        br
        input.btn(type='submit' value='OK')
