extends ../layout

block content
    a(href = '/bicicletas') Volver

    br
    br
    br

    h1 Actualizando Bicicleta

    br
    br
    
    form(action = `/bicicletas/${bici.id}/update` method = 'post')
        label(for='id') ID:
        Input#color(type='text' name='id' value=bici.id)
        br
        label(for='id') COLOR:
        Input#color(type='text' name='color' value=bici.color)
        br
        label(for='id') Modelo:
        Input#color(type='text' name='modelo' value=bici.modelo)
        br
        label(for='id') Latitud:
        Input#color(type='text' name='latitud' value=bici.ubicacion[0])
        br
        label(for='id') Longitud:
        Input#color(type='text' name='longitud' value=bici.ubicacion[1])
        br
        br
        input.btn(type='submit' value='Actualizar')
